.env
.env.*
!.env.example
.venv
__pycache__
.pytest_cache
.mypy_cache
.ruff_cache
tests
*.pyc
*.pyo
coverage.xml
.coverage
.DS_Store
*.key
*.pem
*.aac
*.amr
*.caf
*.flac
*.3gp
*.3gpp
*.m4a
*.mp3
*.wav
*.ckpt
*.npy
*.npz
*.onnx
*.pt
*.pth
*.safetensors
